{{ 'section-main-page.css' | asset_url | stylesheet_tag }}
{%- liquid
  assign columns = page.metafields.custom.columns | default: "One" | downcase
  assign show_title = page.metafields.custom.show_title | default: false
  assign show_content = page.metafields.custom.show_content | default: false
  assign page_images = page.metafields.custom.catalogue_image.value

-%}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }
  .one-column-grid{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0rem; /* space between columns */
  }
  .page_image {
    width: 100%;
  }
  .page_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }

    .two-column-grid{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0rem; /* space between columns */
    }
  }
  
{%- endstyle -%}

<div class="page-full section-{{ section.id }}-padding {{ columns }}-column-grid" >
  {%  if show_title %}
      <h1 class="main-page-title page-title h0{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
        {{ page.title | escape }}
      </h1>
  {% endif %}
  {% if show_content %}
    <div class="rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
      {{ page.content }}
    </div>
  {% endif %}
  {% for item in  page_images%}
    <div class="page_image {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
      <img src="{{ item | image_url: width: 1020 }}" alt="{{ item.alt | escape }}" width="{{item.width}}" height="{{ item.height }}">
    </div>
  {% endfor %}

</div>

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
